astroid==2.1.0
backcall==0.1.0
colorama==0.4.1
decorator==4.3.0
Django==2.1.3
flake8==3.6.0
lazy-object-proxy==1.3.1
mccabe==0.6.1
mpmath==1.0.0
parso==0.3.1
pickleshare==0.7.5
prompt-toolkit==2.0.7
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.0
pylint==2.2.0
pytz==2018.7
six==1.11.0
sympy==1.3
traitlets==4.3.2
wcwidth==0.1.7
wrapt==1.10.11
